:root{
    --bs-body-font-family: "Noto Sans TC" , Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 400;
    --bs-primary-rgb: 0, 204, 191;
    --bs-link-color: #00CCBF;
    --bs-link-hover-color: ##00CCBF;
}
.social-icons .social-icon:hover {
background-color: #00CCBF;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Noto Sans TC","Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    text-transform:lowercase
}
h3, .h3, h2, .h2, h1, .h1{
    font-weight: 500;
    text-transform:uppercase
}
.mb-5 {
  margin-bottom: 2rem !important;
}
.img278 {
  display: flex; 
  gap: 10px;
  width: 1000px;
  height: 400px;
  object-fit: cover;
  overflow-x: auto;
}